//變數數值型態
$h1-Size : 50px; //數值
$h1Color : #f20; //顏色
$bgc : null;//空值  
$marginCenter : 10px auto; // list
$fullwidth : true; //布林
$fontFamily : '微軟正黑體'; //字串
$mapColor : (
  key : value,     
  fontRed : #ff2200,   
  fontBlue :#0084ff,
); // map

body {
  font-size: 16px;
  background-color: #fff;
  color: map-get($mapColor, fontBlue); //map取值
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}
h1 {
  color: $h1Color;
  font-size: $h1-Size;
  background-color: $bgc;
}

.logo {
   width: 150px;
   height: 40px;
   background-color: $h1Color;
   color: #333;
   margin: $marginCenter;
}

//布林值 
nav {
  @if $fullwidth {
     width: 100%;
  }@else {
      width: 996px;
      margin: $marginCenter;
  }
  height: 40px;
  background-color: #0044ff;
  color: #fff;
}