@charset "UTF-8";
.menu {
  width: 100%;
  height: 40px;
  background-color: #0044ff;
  color: #fff;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu ul li {
  width: 120px;
  height: 40px;
  margin: 0 10px;
  background-color: #02007d;
  color: #fff;
}
.menu ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.menu ul li a:hover {
  background-color: #0095ff;
  height: 40px;
}

.logo {
  width: 150px;
  height: 40px;
  background-color: #f20;
  color: #333;
  margin: 10px auto;
}

.main .banner {
  width: 1366px;
  margin: auto;
  height: 400px;
  background-color: #b9b9b9;
}

html {
  font-size: 13px;
}

body {
  background-color: #fff;
  color: #0084ff;
  font-family: "微軟正黑體";
  margin: 0;
  padding: 0;
  min-height: 2300px;
}

h1 {
  color: #f20;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.box {
  height: 300px;
  background-color: #5188F6;
  margin: auto;
  width: 600px;
  border-radius: 10px;
}

.modal {
  margin: auto;
  width: 70%;
  border-radius: 20px;
  height: 400px;
  background-color: #e7e7e7;
  position: relative;
  z-index: 4;
}

.btn-default {
  background-color: #5188F6;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 60px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-default:hover {
  background-color: #0b4fd6;
}

@media all and (max-width: 600px) {
  .btn-default {
    background-color: #5188F6;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0px;
    font-size: 30px;
    transition: all 0.3s ease;
  }
  .btn-default:hover {
    background-color: #0b4fd6;
  }
}
.btn-primary {
  background-color: #9B5AF6;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #640cde;
}

.btn-success {
  background-color: #22C55E;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-success:hover {
  background-color: #136e34;
}

.a {
  width: 20px;
  height: 90px;
  margin: 95px;
  font: 10px;
  font-size: 3rem;
}

h6 {
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 10rem;
  }
}

.color {
  background-color: #fff;
  width: 350px;
  height: 40px;
}

.color-100 {
  background-color: #ffb3d4;
  width: 350px;
  height: 40px;
}

.color-200 {
  background-color: #ff8abc;
  width: 350px;
  height: 40px;
}

.color-300 {
  background-color: #ff62a5;
  width: 350px;
  height: 40px;
}

.color-400 {
  background-color: #ff398e;
  width: 350px;
  height: 40px;
}

.color-500 {
  background-color: #ff1076;
  width: 350px;
  height: 40px;
}

.color-600 {
  background-color: #e60063;
  width: 350px;
  height: 40px;
}

.color-700 {
  background-color: #bd0051;
  width: 350px;
  height: 40px;
}

.color-800 {
  background-color: #950040;
  width: 350px;
  height: 40px;
}

.color-900 {
  background-color: #6c002e;
  width: 350px;
  height: 40px;
}/*# sourceMappingURL=style.css.map */