@use "sass:math";

//basic
@import 'sass/basic/var';
@import 'sass/basic/color';
@import 'sass/basic/breakpoint';
@import 'sass/basic/font';
@import 'sass/basic/spacing';


// mixin
@import 'sass/mixins/mixin';


// component
@import 'sass/component/btn';
@import 'sass/component/form';
@import 'sass/component/tab';


// layout
@import 'sass/layout/header';
@import 'sass/layout/footer';
@import 'sass/layout/login';
@import 'sass/layout/sidebar';

//page
@import 'sass/page/main';
@import 'sass/page/about';
@import 'sass/page/product';


// plugin

// @import  'sass/plugin/scss/bootstrap';




html {
  font-size: $bodyfont;
}

// @media screen and (max-width: 520px) {
//     html {
//         font-size: $m-bodyfont;
//     } 
// }


body {
  $a : #bbff00; //  區域變數
  background-color: #fff;
  color: map-get($mapColor, fontBlue); //map取值
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
  min-height: 2300px;
}

h1 {
  color: $h1Color;
  font-size: map-get($font , h1);
  background-color: $bgc;
}

h2 {
  font-size: map-get($font, h2);
}





//布林值 
// nav {
//     @if $fullwidth {
//         width: 100%;
//     }

//     @else {
//         width: 996px;
//         margin: $marginCenter;
//     }

//     height: 40px;
//     background-color: #0044ff;
//     color: #fff;
// }

//原生寫法
// nav .menu {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }

// nav .menu li {
//     width: 120px;
//     height: auto;
//     margin: 10px;
//     background-color: #02007d;
//     color: #fff;
// }

//nesting 寫法


//mixin
//宣告






.box {
  height: 300px;
  background-color: $primary;
  //呼叫
  @include boxcenter(600px, 10px);
}


.modal {
  @include boxcenter(70%, 20px);
  height: 400px;
  background-color: #e7e7e7;
  position: relative;
  z-index: 4;
}

// .bg {
//    width: 300px;
//    height: 200px;
//    background-color: lighten( #000  , 80);
// }


@include btn( 'default' , $primary,  16px , false , 60px);
@include btn( 'primary' , $secondary,  16px);
@include btn( 'success' , $success,  16px);


.a {
  width:  10 + 10px;
  height:  100 - 10px;
  // margin:  8.9 * 10.7 + px //原始
  // margin:  math.round(8.9 * 10.7) + px; //四捨五入
  // margin:  math.ceil(8.9 * 10.7) + px; //無條件進位
  margin:  math.floor(8.9 * 10.7) + px; //無條件捨去
  font : (100 / 10 ) + px ;
  font-size : math.div(48px , 16px) + rem;
}


h6 {
   font-size: math.div(13px , $bodyfont) + rem;
}

h1 {
 font-size: math.div(65px , $bodyfont) + rem;
}

