//變數數值型態
$h1-Size : 50px; //數值
$h1Color : #f20; //顏色
$bgc : null;//空值  



body {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

h1 {

  color: $h1Color;
  font-size: $h1-Size;
  background-color: $bgc;
}

